<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/scss/style.css">

</head>

<body>
    <header>
        <nav class="topbar">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="contacts col-lg-4 col-md-12 col-sm-12 col-12">
                        <ul class="d-flex justify-content-around">
                            <li>
                                <span><i class="fa-solid fa-envelope"></i></span><span class="ms-2">
                                    <a href="">contact@example.com</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-mobile"></i></span><span>
                                    +1 5589 55488
                                    55
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="medias col-lg-8 ">
                        <ul class="d-flex">
                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-invision"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <section id="footer" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h3>
                            MyBiz
                        </h3>
                        <p>
                            A108 Adam Street
                            NY 535022, USA
                        </p>
                        <small><strong>Phone:</strong>+1 5589 55488 55</small> <br>
                        <small><strong>Email:</strong> info@example.com</small>
                    </div>
                    <div class="col-lg-3">
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">Home</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">About</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">Services</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">
                                        Terms
                                        of service
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">
                                        Privacy policy
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">Home</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">About</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">Services</a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">
                                        Terms
                                        of service
                                    </a>
                                </span>
                            </li>
                            <li>
                                <span><i class="fa-solid fa-angle-right"></i></span><span>
                                    <a href="">
                                        Privacy policy
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <strong>Our Newsletter</strong>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                        <div class="subscribe d-flex">
                            <input type="text" placeholder="Subscribe">
                            <button class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="endl-section" class="py-3">
            <div class="endl text-center text-light">
                <small><strong>© Copyright MyBiz. All Rights Reserved</strong></small>
                <small><p>Designed by</p> <a href="">BootstrapMade</a></small>
            </div>
        </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="/assets/Js/script.js"></script>
</body>

</html>
